{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/stylesheet.css" %}" rel="stylesheet">

    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&v=3&libraries=geometry"></script>

    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <!--angular-->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="{% static "js/angular/ng-map.min.js" %}"></script>
    <script src="{% static "js/angular/lodash.js" %}"></script>
    <script src="{% static "js/angular/angular-maps.js" %}"></script>
    <script src="{% static "js/angular/app.js" %}"></script>
    <script src="{% static "js/angular/services.js" %}"></script>
    <script src="{% static "js/angular/directives.js" %}"></script>
    <script src="{% static "js/angular/controllers.js" %}"></script>
</head>
<body ng-app="oxford">
<div id="wrap">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Brand</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
          <ul class="nav navbar-nav">
            {% if user.is_authenticated %}
                        <a href="{% url 'profile' %}">{{ user.username }}'s Profile</a>
                {% else %}
                    <div></div>
                {% endif %}
          </ul>

          <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Logout</a></li>
                        {% if user.is_staff %}
                            <li><a href="{% url 'admin:index' %}">{{ user.username }}'s Admin</a></li>
                        {% endif %}
                    {% else %}
                    <li><a href="{% url 'login' %}">Log In</a></li>
                    <li><a href="{% url 'register' %}">Register</a></li>
                    {% endif %}
              </ul>
        </div><!-- /.navbar-collapse -->

</nav>

<div class="container">
{% block content %}
{% endblock content %}
</div>
</div>


{#<footer class="navbar-default container-fluid text-center">Copyright &copy; Oxford HealthCare</footer>#}
</body>
</html>