{% extends 'base.html' %}

{% block title %}
    Map
{% endblock title %}

{% block content %}
    {% verbatim %}
    <div ng-controller="marker">
    <h2>Search:</h2>
        <input type="text" ng-model="search.$" style="margin-bottom: 20px">
      <map center="37.7866983, -122.4183997" zoom="4">
          <div ng-repeat="marker in markers | filter:search ">
            <marker position="{{ marker.latitude }},{{ marker.longitude }}" title="{{ marker.name }}" on-click="showInfoWindow(event, 'bar')"></marker>
              <info-window id="bar" visible-on-marker="foo">
                <div ng-non-bindable="">
                  <div id="siteNotice"></div>
                  <h1 id="firstHeading" class="firstHeading">{{ marker.name }}</h1>
                  <div id="bodyContent">
                    <p><b>{{ marker.address }}</b></p>
                  </div>
                </div>
              </info-window>
          </div>
      </map>
    </div>
    {% endverbatim %}
{% endblock %}