{% extends 'base.html' %}

{% block title %}
    Map
{% endblock title %}

{% block content %}
    {% verbatim %}
    <!--
    <div ng-controller="MainCtrl">

    <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="false"
                            options="map.options" events="map.events" control="googlemap" class="angular-google-map-container">

        <ui-gmap-window coords="MapOptions.markers.selected.coords"
                        show="windowOptions.show" options="windowOptions" closeClick="closeClick()" ng-model="MapOptions.markers">
                    <p models="MapOptions.markers" >{{ MapOptions.markers.selected.data }}</p>
            </ui-gmap-window>

         		<ui-gmap-markers models="markers" idkey="markers.id" coords="'coords'"
                             click="onClick" events="markers.events" doCluster="true">



        		</ui-gmap-markers>

         	</ui-gmap-google-map>
    <p ng-model="MapOptions.markers" >{{ MapOptions.markers.selected.data }}</p>
    </div>
    -->
    <div ng-controller="mapController">
    <div id="map"></div>
        <div id="class" ng-repeat="marker in markers | orderBy : 'title'">
             <a href="#" ng-click="openInfoWindow($event, marker)">{{marker.title}}</a>
        </div>
    </div>
    {% endverbatim %}
{% endblock %}